* {
  margin: 0;
  box-sizing: border-box;
}
#site {
  height: 98vh;
  width: 98vw;
  padding: 2vh 2vw;
}
#wrapper {
  border: 3px solid;
  /* border-radius: 15px; */
  width: 100%;
  height: 100%;
  display: grid;
  /* grid-template-columns: minmax(auto, 100px) 90%; */
  grid-template-columns: 100px auto;
  grid-template-rows: auto 100px;
  overflow: hidden;
}

#sideBar {
  grid-row: 1/2;
  grid-column: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

#tools {
  /* border: 1px solid red; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#tools img {
  width: 4rem;
  border: 2px solid;
  border-radius: 10px;
}

#strokeWidth {
  align: center;
  border: 1px solid red;
  width: 8rem;
  height: 4rem;
  transform: rotate(90deg);
  margin-top: 50px;
}

#drawBoard {
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  grid-row: 1/1;
  grid-column: 2/2;
  padding: 1rem;
  border-bottom-left-radius: 14px;
  background-color: #999999;
}

#canvas {
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#bottomBar {
  /* border: solid 1px red; */
  grid-row: 2/2;
  grid-column: 2/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;
}

#colors {
  border: 3px solid black;
  border-radius: 15px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3px;
  height: 80%;
  width: 400px;
}

#colors div {
  width: 1.5rem;
  height: 1.5rem;
  margin: 5px;
  border-radius: 4px;
  border: 3px solid #444444;
}

#fileMenu {
  /* border: solid 1px red; */
  width: fit-content;
}

#fileMenu img {
  width: 4rem;
  border: 2px solid;
  border-radius: 10px;
}
